<ng-container *ngIf="library$ | async as library">
    <div class="container">
        <nav>
            <h2>Library</h2>
            <ul class="list-reset">
                <li class="mb-2">
                    <a routerLink="/artists">Artists</a>
                </li>
                <li class="mb-2">
                    <a routerLink="/albums">Albums</a>
                </li>
                <li class="mb-2">
                    <a routerLink="/songs">Songs</a>
                </li>
            </ul>
        </nav>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</ng-container>
