<ng-container>
  <div style="float: left; width: 33%; ">
    <h2>Artists</h2>
    <div>
      <span *ngIf="artists$ | async as artists">{{artists.length}} total</span>,
      <span *ngIf="completeArtists$ | async as completeArtists">{{completeArtists.length}} with covers</span>,
      <span *ngIf="incompleteArtists$ | async as incompleteArtists">{{incompleteArtists.length}} without covers</span>
    </div>
    <div *ngIf="incompleteArtists$ | async as incompleteArtists">
      <h3>Incomplete ({{incompleteArtists.length}})</h3>
      <ul>
        <li *ngFor="let artist of incompleteArtists">
          <a [routerLink]="['/artists', artist.name]">
            {{artist.name}}
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="completeArtists$ | async as completeArtists">
      <h3>Complete ({{completeArtists.length}})</h3>
      <ul>
        <li *ngFor="let artist of completeArtists">
          <a [routerLink]="['/artists', artist.name]">
            {{artist.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div style="float: right; width: 67%; ">
    <router-outlet></router-outlet>
  </div>
</ng-container>
