<ng-container *ngIf="artists$ | async as artists">
  <div style="float: left; width: 25%; ">
    <ul class="list-reset">
      <li class="mb-2">
        <a [routerLink]="['/artists', 'All Artists']">
          All Artists
        </a>
      </li>
      <li *ngFor="let artist of artists" class="mb-2">
        <a [routerLink]="['/artists', artist.name]">
          {{artist.name}}
        </a>
      </li>
    </ul>
  </div>
  <div style="float: right; width: 75%; ">
    <router-outlet></router-outlet>
  </div>
</ng-container>
