<ng-container *ngIf="selectedAlbum">
  <h1>{{selectedAlbum.album}}</h1>
  <h2>{{selectedAlbum.artist}}</h2>
  <ng-container *ngIf="!selectedAlbum.cover; else artworkTemplate">
    <button (click)="findCover($event, selectedAlbum)">Find cover</button>
  </ng-container>
  <ng-template #artworkTemplate>
    <img [src]="selectedAlbum.cover" [width]="400" [height]="400" alt="Album artwork">
    <button (click)="updateAlbum($event, selectedAlbum)">Update album</button>
  </ng-template>
</ng-container>
