<ng-container *ngIf="albums$ | async as albums">
    <div class="container">
        <div *ngFor="let album of albums" class="child-container">
            <div>
                <a routerLink="/albums/{{ album.title }}">
                    <img [src]="album.cover" [width]="175" [height]="175" alt="Album artwork"><br>
                    <strong>{{ album.title }}</strong><br>
                    <em>{{ album.artist }}</em>
                </a>
            </div>
        </div>
    </div>
</ng-container>